*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  font-style: italic;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

label,
button,
input,
select {
  cursor: pointer;
}

button,
input,
select {
  font: inherit;
}

textarea {
  resize: vertical;
}

[disabled] {
  cursor: default;
}

[aria-disabled="true"] {
  cursor: default;
  pointer-events: none;
}

::selection {
  color: #000;
  background: #fbd404;
}

/* Utility classes
------------------------------------------------------------------------------*/
.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.unlist {
  list-style: none;
  padding: 0;
}

.shadowed {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Media queries
------------------------------------------------------------------------------*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
