@import "../../styles/colours";
@import "../../styles/dimensions";

.item__controls {
  flex: 0 0 auto;
}

.item__control {
  transition: opacity 0.3s;

  overflow: hidden;
  width: $item-control-wh;
  height: $item-control-wh;
  padding: 0;
  border: none;
  text-align: center;
  cursor: pointer;
  background: none;

  &:disabled {
    cursor: initial;
    opacity: 0.25;
  }
}

.item__control__icon {
  width: $item-control-wh * 0.8;
  height: $item-control-wh * 0.8;
  fill: $colour-primary-text;
  stroke: white;
}
