@import "../../styles/colours";
@import "../../styles/dimensions";

.products {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($item-w, 1fr));
  grid-gap: 20px;
  justify-content: center;

  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: $content-mt;
  list-style: none;
}
