@import "../../styles/colours";
@import "../../styles/dimensions";

.app {
  display: grid;
  grid-template-rows: auto 1fr;

  overflow: hidden;
  height: 100vh;
}

.app__title {
  display: flex;
  align-items: center;
  font-size: 38px;
  line-height: 48px;
  padding: 0 5px;

  background: $colour-primary-bg;
  color: $colour-primary-text;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.app__title span {
  // margin: 7px 5px 0 5px;
  margin: 0 5px 0 5px;
  font-size: 0.6em;
}

.app__content {
  display: flex;
  align-items: flex-start;

  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.products {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($item-w, 1fr));
  grid-gap: 20px;
  justify-content: center;

  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: $content-mt;
  list-style: none;
}
